.styled-table {
  border-collapse:collapse;
  font-family: cursive;
  width: auto;
  height:auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-color: #115c9b;
}

.styled-table Th {
  font-size: 1.3em;
  text-align: center;
  background-color: #115c9b;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMjgwODE0IiB5MT0iLTAuMTAyMjA4IiB4Mj0iMC43MTkxODYiIHkyPSIxLjEwMjIwOCI+PHN0b3Agb2Zmc2V0PSItMjUlIiBzdG9wLWNvbG9yPSIjMTE1YjliIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxMjkwZjgiLz48c3RvcCBvZmZzZXQ9IjEyNSUiIHN0b3AtY29sb3I9IiMxMTViOWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  background-image: -webkit-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  background-image: linear-gradient(160deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
  color: #fff;
}

.styled-table Tr{
  font-size: 0.9em;
  text-align: left;
  background-color: #fff;
  background-size: 100%;
  color: #0076a3;
}
.styled-table p{
  font-size: 1.2em;
  text-align: left;
  background-color: #fff;
  background-size: 100%;
  color: #0076a3;
}

.styled-table Th,
.styled-table Td {
    padding: 12px 15px;
}

.styled-table Tbody Tr {
  border-bottom: 1px solid #dddddd;
}